ul#feeds { 
  float: left; width: 15%; 
  position: fixed;
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
}

ul#feeds li { position: relative }

ul#feeds li a.feed {
  display: block;
  padding: 3px;
  margin-right: 10px;
}

ul#feeds li a.feed:hover {
  background: #ccc;
}

ul#feeds li a.active {
  color: #000;
}

ul#feeds li a.feed_menu_icon {
  position: absolute;
  top: 0;
  right: 0;
}

form.floating_form {
  display: none;
  background: #ccc;
  margin-top: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 99;
}

form.floating_form label {
  font-size: 11px;
}

form#new_feed {
  right: 10px;
  top: 20px;
}

ul#entries { 
  float: left; width: 82%;
  margin-left: 15%;
  padding-left: 20px;
  margin-top: 20px;
}

ul#entries li {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

ul#tags {
  position: fixed;
  padding: 2px;
  background: #fff;
  width: 100%;
}

ul#tags li {
  float: left;
  margin: 0 10px;
}

ul#tags li.add_feed {
  float: right;
}
