body {
  font-size: 14px;
  font-family: Helvetica, Arial;
  line-height: 18px;
  background: #ddd;
}

div.entry {
  margin: 0 15%;
  padding: 20px;
  background: #fff;
}

ul#tags {
  margin: 0 15%;
}

div.entry h1.entry_header {
  font-size: 24px;
  margin-bottom: 5px;
}

div.entry p.entry_feed_description {
  margin: 0 0 20px 0;
  color: #777;
}
