a, a:visited {
  text-decoration: none;
  color: #1862d2;
}

.fl-left {float:left}
.fl-right {float:right}
.hidden {display:none}
.cl {clear:both}

img.icon {
  margin-bottom: -3px;
}

label {
  font-size: 11px;
}

h1#logo {
  background: url(/images/logo.png) top left no-repeat;
  width: 180px;
  height: 34px;
  position: absolute;
  top: 10px;
  left: 80%;
  margin-left: 30px;
}

h3 { margin: 10px 0; }

.drops-shadow {
  -webkit-box-shadow: 0 0 5px #999;
  -moz-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

.rounded-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.rounded-20 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.rounded-top-5 {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
}

.rounded-top-10 {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 5px;
}

.w1 { font-size: 1em; }
.w2 { font-size: 1.2em; }
.w3 { font-size: 1.6em; }
.w4 { font-size: 2em; }
