ul#tags {
  padding: 20px 0 0 30px;
  width: 80%;
  position: relative;
}

ul#tags li {
  float: left;
  padding: 5px 0 5px 0;
}

ul#tags li.tag {
  margin: 0 3px;
  background: #ccc;
  border: 2px solid #ccc;
}

ul#tags li.my_feeds {
  font-weight: bold;
  margin: 0 3px 0 10px;
  padding: 5px 10px;
  border: 2px solid transparent;
}

ul#tags li.my_feeds a {
  color: #555;
  text-shadow: #fff 0 1px 1px;
}

ul#tags li.search_bar {
  float: right;
  margin: 0 10px;
}

ul#tags li.tag a {
  padding: 5px 10px;
  margin: 0 5px;
  color: #555;
  text-shadow: #fff 0 1px 1px;
}

ul#tags li.active {
  background: #fafafa;
  border: 2px solid #a9db66;
  border-bottom: 0 none;
}

ul#tags li.all_tags {
  margin: 0 3px;
  background: #c9c9ff;
  border: 2px solid #c9c9ff;
  right: 0px;
  position: absolute;
}

ul#tags li.all_tags a {
  padding: 5px 10px;
  margin: 0 5px;
  color: #555;
  text-shadow: #fff 0 1px 1px;
}
