ul#tags {
  position: fixed;
  padding-top: 2px;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: #eee;
  overflow: auto;
}

ul#tags li {
  float: left;
  margin: 0 10px;
}

ul#tags li.my_feeds {
  font-weight: bold;
}

ul#tags li.search_bar {
  float: right;
}
