- form_for subscription, :html => {:class => :"feed_menu" } do |f|
  %h3 Tag this feed
  %p= f.text_field :tag_list, :value => f.object.feed.tags_from(current_user).join(", "), :class => :"wide big"
  %p &nbsp;
  %h3 Choose how to display etries from this feed
  %p= f.select :view_mode, options_for_select(Subscription.available_options, f.object.view_mode)
  %p &nbsp;
  %p= f.submit "Save"
