=h1_tag 'Sign in'
-semantic_form_for @user_session, :url => create_user_session_url do |f|
  -f.inputs do
    =f.input :email
    =f.input :password
  -f.inputs do
    =f.input :openid_identifier
  -f.buttons do
    =f.commit_button 'Sign in'
