!!!
%html
  %head
    %meta{'http-equiv' => 'Content-type', :content => 'text/html; charset=UTF-8'}
    %link{:rel => 'Shortcut icon', :href => '/favicon.ico'} 
    
    =stylesheet_link_tag 'style'
    =javascript_include_tag :defaults_jquery
  %body
    =yield
    =google_analytics 'TODO HERE'
